name: Build and Release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      API_BASE_URL:
        description: 'API Base URL for the mobile app'
        required: true
        default: 'https://app.moving.tech/stop-correction/api'

jobs:
  build-server:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./server
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Create .env file
        run: |
          cd StopCollectorApp
          echo "API_BASE_URL=${{ github.event.inputs.API_BASE_URL || 'https://app.moving.tech/stop-correction/api' }}" > .env
          cat .env

      - name: Install App Dependencies
        run: |
          cd StopCollectorApp
          npm install

      - name: Build Android APK
        run: |
          cd StopCollectorApp/android
          chmod +x gradlew
          ./gradlew assembleRelease


      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release.apk
          path: StopCollectorApp/android/app/build/outputs/apk/release/app-release.apk
